@import url('https://fonts.googleapis.com/css2?family=Roboto&subset=vietnamese&display=swap');

/* ============= SLIDER AREA ============= */

.hero-area {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    z-index: 1;
    position: relative;
    color: #fff;
}

.parallax {
    background-attachment: fixed;
}

.slider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.slider h1 {
    line-height: 80px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.slider p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 35px;
    padding-right: 28%;
}

.slider-thumb {
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 3;
}

.hero-btn {
    background: #ff5f6d none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.1);
}

.hero-btn:hover,
.about-content>.hero-btn:hover {
    background-color: #f75160;
    color: #fff;
    text-decoration: none;
}

.hero-text p.he-p {
    padding: 0 22%;
    line-height: 30px;
}

ul>li>a {
    text-decoration: none;
}